.carousel {
    margin: 1rem;
    width: 100%;
    cursor: pointer;
}
  
.slide {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
.slide img {
    width: 97%;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 1200px) {
    .slide img {
      width: 40%;
    }
  }
  
