footer {
  background: #003366;
  color: white;
  padding: 1rem;
}
.footer-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-around;
}
.footer-col {
  flex: 1 1 200px;
  max-width: 300px;
}
.footer-col h4 {
  margin-bottom: 1rem;
}
.footer-col ul {
  list-style: none;
  padding: 0;
}
.footer-col ul li {
  margin-bottom: 0.5rem;
}
.footer-col ul li a {
  color: white;
  text-decoration: none;
}

.link-footer:hover {
  color: #99da37;
}

@media (max-width: 768px) {
  .footer-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0rem;
  }

  .footer-col {
    flex: none;
    width: 100%;
    height: auto;
  }
}

#link-portfolio{
  color: #99da37;
  &:hover{
    color: antiquewhite;
  }
}